@model MvcMovies9.Models.Movie
@{
    ViewData["Title"] = "Delete";
}
<h1>Delete</h1>
<p>Are you sure you want to delete <strong>@Model.Title</strong>?</p>
<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Yes, delete</button>
    <a asp-action="Index" class="btn btn-link">Cancel</a>
</form>