@model BeerShop2.ViewModels.BeerVM

<h2>@Model.Name</h2>

<p><strong>Alcohol:</strong> @Model.Alcohol %</p>
<p><strong>Brouwerij:</strong> @Model.BreweryName</p>
<p><strong>Soort:</strong> @Model.VarietyName</p>

<a asp-action="Index">Terug naar lijst</a>