<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BeerShop2</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BeerShop2.styles.css" asp-append-version="true" />

    <!-- DataTables CSS -->
    <link rel="stylesheet"
          href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BeerShop2</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Beer" asp-action="Index">List of bears</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Beer" asp-action="ListAlcohol">Search by Alcohol</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Beer" asp-action="GetBeersByBreweriesVM">List Brewery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Beer" asp-action="GetBeersByBreweries">List Brewery met viewbag</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Beer" asp-action="GetBeersByBreweriesAjax">List Brewery met Ajax</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Beer" asp-action="Create">Create Beer</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - BeerShop2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <!-- jQuery MOET eerst, maar maar 1x! -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- DataTables JS (na jQuery!) -->
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

    <!-- Eigen JS -->
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
