@model Introduction.ViewModels.RegisterVM

@{
    ViewData["Title"] = "RegisterNew";
}

<h1>RegisterNew</h1>

<h4>RegisterVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RegisterNew">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Leeftijd" class="control-label"></label>
                <input asp-for="Leeftijd" class="form-control" />
                <span asp-validation-for="Leeftijd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hero" class="control-label"></label>
                <input asp-for="Hero" class="form-control" />
                <span asp-validation-for="Hero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

