@{
    ViewData["Title"] = "Register";

}

<h1>Register</h1>

<form action="register" method="post">
    <label id="lblName" for="txtName">Name</label>
    <input type="text" id="txtName" name="txtName" /><br />
    <label id="lblFirstName" for="txtFirstName">Firstname</label>
    <input type="text" id="txtFirstName" name="txtFirstName" /><br />
    <input type="submit" value="send" />

</form>
