<footer class="border-top footer text-muted">
    <div class="container">
        &copy; Examen Januari 2026 - VIVES Kortrijk Batiste Vancoillie 2SDa 
    </div>
</footer>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
